.span9
  - model_class = Org.new.class
  .page-header
    %h1=t '.title', :default => model_class.model_name.human.pluralize
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:description)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @orgs.each do |org|
        %tr
          %td= link_to org.id, org_path(org)
          %td= org.name
          %td= truncate(org.description)
          %td
            - curr_user = User.find(session[:user_id].to_i)
              - if curr_user.is_admin? or curr_user.orgs.include? @org 
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_org_path(org), :class => 'btn btn-mini'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), org_path(org), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

  = link_to t('.new', :default => t("helpers.links.new")), new_org_path, :class => 'btn btn-primary'